<section id="loginPage">
    <div class="forms">
        <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
            <h2>Login</h2>
            <hr>
            <label for="username">Username</label>
            <input required minlength="3" name="username" id="username" type="text" placeholder="Just Mike" ngModel #username="ngModel">
            <div class="error-msg" *ngIf="username.invalid && username.touched">
                Username is required and it must be at least 3 characters long
            </div>
            <label for="password">Password</label>
            <input required minlength="6" name="password" id="password" type="password" placeholder="********" ngModel #password="ngModel">
            <div class="error-msg" *ngIf="password.invalid && password.touched">
                Password is required and it must be at least 6 characters long
            </div>
            <button type="submit" class="submit-btn" [disabled]="loginForm.invalid && loginForm.touched">Login</button>
            <div class="account-status">
                <p>Don't have an account? <span>Create one <a routerLink="/register">here</a></span></p>
            </div>
        </form>
    </div>
</section>