/* Registration form */

div.forms {
    background-color: rgba(78, 134, 136, 0.432);
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.575);
    box-shadow: 0px 0px 45px 20px rgba(235, 235, 235, 0.616);
    border-radius: 5px;
    width: 60%;
    padding: 0%;
    margin-left: 26%;
    margin-top: 5%;
    font-size: 120%;
}

hr {
    margin-top: -32px;
    margin-bottom: 5%;
}

div.account-status p {
    position: relative;
    margin-left: 24%;
    font-size: 80%;
    color: white;
}

div.account-status p a {
    color: rgb(0, 255, 234);
}

div.account-status p a:hover {
    color: rgb(0, 255, 234);
    cursor: pointer;
}

div.forms h2 {
    background-color: rgba(2, 211, 193, 0.377);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    margin-bottom: -14;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

div.forms label {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 2px;
}

div.forms input {
    background-color: rgba(252, 252, 252, 0.918);
    color: rgb(0, 0, 0);
    display: block;
    border: 1px solid rgb(0, 255, 234);
    border-radius: 3px;
    text-align: center;
    font-size: 55%;
    position: relative;
    margin-left: 37%;
    margin-bottom: 20px;
}

div.error-msg {
    text-align: center;
    font-size: 80%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgba(255, 0, 0, 0.687);
}

div.forms input.ng-valid.ng-touched {
    box-shadow: 0 0 10px 5px rgba(56, 255, 93, 0.842);
}

div.forms input.ng-invalid.ng-touched {
    box-shadow: 0 0 10px 5px rgba(255, 56, 56, 0.893);
}

div.forms button {
    display: block;
}

div.forms span {
    color: rgb(255, 255, 255);
}

a#terms {
    color: rgb(0, 255, 234);
}

div.consent-box {
    display: block;
    margin-top: 10px;
}

div.consent-box label.consent-label {
    display: block;
    font-size: 60%;
    margin-top: 35px;
}

div.consent-box input#checkbox {
    display: inline-block;
    margin: 0;
}

button.submit-btn {
    color: rgb(0, 255, 234);
    font-size: 70%;
    border: 1px solid rgb(0, 255, 234);
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    margin-left: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
    transition: 0.2s;
}

button.submit-btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);
    transition: 0.2s;
    cursor: pointer;
    font-size: 72%;
}

@media screen and (min-width:1536px) {
    div.forms input {
        margin-left: 42%;
    }
    button.submit-btn {
        margin-left: 47%;
    }
}

@media screen and (max-height: 880px) {
    div.forms {
        margin-top: 3%;
    }
}