<section id="registerPage">
    <div class="forms" id="registerForm">
        <form action="" method="">
            <h2>Register</h2>
            <hr>
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Just Mike">
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="mike.justmike@gmail.com">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="********">
            <label for="repeatPassword">Repeat password</label>
            <input id="repeatPassword" type="password" placeholder="********">
            <div class="consent-box">
                <label class="consent-label"><input id="checkbox" type="checkbox"> I have read and agrred with Musified<a id="terms" href="javascript:void(0)"> Terms and conditions</a></label>
            </div>
            <button type="submit" class="submit-btn">Register</button>
            <div class="account-status">
                <p>Already have an account? Login <a routerLink="/login">here</a></p>
            </div>
        </form>
    </div>
</section>