<section id="dashboard">
    <h1>
        Dashboard
    </h1>
    <div class="item-container">
        <div class="video-preview">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="video preview">
        </div>
        <div class="video-decription">

        </div>
        <div class="video-actions">
            <button type="button" class="watch-video">
    Watch
</button>
            <button type="button" class="details-video">
    Details
</button>
            <button type="button" class="unsubscribe-video">
    Give up
</button>
        </div>
    </div>
</section>