<div id="quiz">
    <form>
        <div>
            <h2 id="quiz-header">Test your knowledge</h2>
        </div>
        <hr id="quiz-hr">
        <div class="questions">
            <p>1. What is the root note in A minor pentatonic scale?</p>
            <input type="radio" name="A note" value="A note" id="a-note" checked><label for="">A note</label>
            <input type="radio" name="C note" value="C note" id="c-note"><label for="">C note</label>
            <input type="radio" name="D note" value="D note" id="d-note"><label for="">D note</label>
            <input type="radio" name="All are correct" value="All are correct" id="all-notes"><label for="">All are correct</label>
        </div>
        <div class="questions">
            <p>2. What is the root note in A minor pentatonic scale?</p>
            <input type="radio" name="A note" value="A note" id="a-note" checked><label for="">A note</label>
            <input type="radio" name="C note" value="C note" id="c-note"><label for="">C note</label>
            <input type="radio" name="D note" value="D note" id="d-note"><label for="">D note</label>
            <input type="radio" name="All are correct" value="All are correct" id="all-notes"><label for="">All are correct</label>
        </div>
        <div id="quiz-controls">
            <button mat-dialog-close type="button">Cancel</button>
            <button mat-dialog-close type="submit">Submit</button>
        </div>
    </form>
</div>