<section id="explore">
    <div>
        <h1 *ngIf="lessons">Find your new course</h1>
        <h1 *ngIf="!lessons">Currently there are no courses available</h1>
    </div>
    <div id="explore-container" *ngIf="lessons">
        <div class="course-card" *ngFor="let lesson of lessons">
            <div class="course-img">
                <img src={{lesson.imagePreviewUrl}} alt="guitar" height="186px">
            </div>
            <div class="course-description">
                <p>
                    Course name: {{lesson.name}}
                </p>
                <p>
                    Course length: {{lesson.duration}} min
                </p>
                <p>
                    Course level: {{lesson.level}}
                </p>
            </div>
            <div class="details-btn">
                <button type="button"><a routerLink='/details/{{lesson._id}}'>Details</a></button>
            </div>
        </div>
        <div id="paginator">
            Paginator 1 2 3 4 5
        </div>
    </div>
</section>