<section id="explore">
    <div>
        <h1>Find your new course</h1>
    </div>
    <div id="explore-container">
        <div class="course-card">
            <div class="course-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="guitar">
            </div>
            <div class="course-description">
                <p>
                    Course name: Chord progression
                </p>
                <p>
                    Course length: 30 min
                </p>
                <p>
                    Level: Begginer
                </p>
            </div>
            <div class="details-btn">
                <button type="button">Details</button>
            </div>
        </div>
        <div class="course-card">
            <div class="course-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="guitar">
            </div>
            <div class="course-description">
                <p>
                    Course name: Pentatonic scales
                </p>
                <p>
                    Course length: 40 min
                </p>
                <p>
                    Level: Intermediate
                </p>
            </div>
            <div class="details-btn">
                <button type="button">Details</button>
            </div>
        </div>
        <div class="course-card">
            <div class="course-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="guitar">
            </div>
            <div class="course-description">
                <p>
                    Course name: Pentatonic scales
                </p>
                <p>
                    Course length: 40 min
                </p>
                <p>
                    Level: Intermediate
                </p>
            </div>
            <div class="details-btn">
                <button type="button">Details</button>
            </div>
        </div>
        <div class="course-card">
            <div class="course-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="guitar">
            </div>
            <div class="course-description">
                <p>
                    Course name: Pentatonic scales
                </p>
                <p>
                    Course length: 40 min
                </p>
                <p>
                    Level: Intermediate
                </p>
            </div>
            <div class="details-btn">
                <button type="button">Details</button>
            </div>
        </div>
        <div class="course-card">
            <div class="course-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="guitar">
            </div>
            <div class="course-description">
                <p>
                    Course name: Pentatonic scales
                </p>
                <p>
                    Course length: 40 min
                </p>
                <p>
                    Level: Intermediate
                </p>
            </div>
            <div class="details-btn">
                <button type="button">Details</button>
            </div>
        </div>
        <div class="course-card">
            <div class="course-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUkBDJW3QrGUpYpnqiOvqBDy9eUnSyrr8rg&usqp=CAU" alt="guitar">
            </div>
            <div class="course-description">
                <p>
                    Course name: Pentatonic scales
                </p>
                <p>
                    Course length: 40 min
                </p>
                <p>
                    Level: Intermediate
                </p>
            </div>
            <div class="details-btn">
                <button type="button">Details</button>
            </div>
        </div>
        <div id="paginator">
            Paginator 1 2 3 4 5
        </div>
    </div>
</section>