/* Profile page */

section#profile div.panel {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(88, 85, 85, 0.5);
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.438);
    box-shadow: 0px 0px 45px 20px rgba(235, 235, 235, 0.616);
    border-radius: 5px;
    padding: 2%;
    width: 60%;
    font-size: 120%;
    margin-left: 26%;
    margin-top: 10%;
}

div#profile-card img {
    width: 20%;
}

div.profile-card {
    background-color: rgba(78, 134, 136, 0.432);
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.575);
    box-shadow: 0px 0px 45px 20px rgba(235, 235, 235, 0.616);
    border-radius: 5px;
    width: 95%;
    padding: 2%;
    margin-top: 10%;
    font-size: 90%;
}

div.profile-card span {
    color: rgb(255, 255, 255);
}

div.profile-card input {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    display: block;
    border: 1px solid rgb(0, 255, 234);
    border-radius: 3px;
    text-align: center;
    font-size: 55%;
    position: relative;
    height: 20px;
    width: 100%;
}

div.profile-card input#username {
    margin-left: 51%;
}

div.profile-card input#email {
    margin-left: 58.1%;
}

div.profile-card input#password {
    margin-left: 50.6%;
}

div.profile-card button {
    display: block;
    font-size: 90%;
}

div.profile-card label {
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    margin-bottom: 2px;
}

table tr th.table-header {
    display: inline;
    margin-left: 95px;
}

div#courses table tr th {
    width: 70%;
    text-align: left;
}

div#courses table tr th a {
    margin-right: 10px;
}