<div class="profile-card">
    <!-- Level bar must be dynamic -->
    <div id="courses">
        <table>
            <tr>
                <th><a href="javascript:void(0)">&#9658;</a>Improvisation</th>
                <td>
                    <progress class="level" value="65" max="100"></progress>
                </td>
            </tr>
            <tr>
                <th><a href="javascript:void(0)">&#9658;</a>Pentatonic scales</th>
                <td>
                    <progress class="level" value="45" max="100"></progress>
                </td>
            </tr>
            <tr>
                <th><a href="javascript:void(0)">&#9658;</a>Chord progression</th>
                <td>
                    <progress class="level" value="71" max="100"></progress>
                </td>
            </tr>
            <tr>
                <th><a href="javascript:void(0)">&#9658;</a>Rhythm</th>
                <td>
                    <progress class="level" value="80" max="100"></progress>
                </td>
            </tr>
            <tr>
                <th><a href="javascript:void(0)">&#9658;</a>Time</th>
                <td>
                    <progress class="level" value="85" max="100"></progress>
                </td>
            </tr>
            <tr>
                <th>Overal progress:</th>
                <td>
                    <progress class="level" value="75" max="100"></progress>
                </td>
            </tr>
        </table>

    </div>
</div>