<div class="profile-card">
    <!-- Level bar must be dynamic -->
    <div id="courses">
        <table>
            <!-- TODO: consider removing the progress bar and replasing it with a status box -->
            <tr *ngFor="let lesson of lessonsData">
                <th><a routerLink="/watch/{{lesson._id}}">&#9658;</a>{{lesson.name}}</th>
            </tr>
            <!-- Consider adding pagination -->
            <tr *ngIf="lessonsData.length == 0">
                <th>Currently you are not subscribed to any courses</th>
            </tr>
        </table>
    </div>
</div>