@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
span.checked {
    color: rgb(255, 218, 6);
}

span.unchecked {
    color: rgb(7, 7, 7);
}

section#course-detials h2 {
    color: rgb(0, 255, 234);
    font-size: 200%;
    margin-left: 15%;
    margin-top: 20px;
    text-align: center;
}

section#course-detials div#details-container {
    color: rgb(255, 255, 255);
    background-color: rgba(68, 68, 68, 0.849);
    border: 1px solid rgba(140, 251, 255, 0.799);
    box-shadow: 0px 0px 25px 10px rgba(235, 235, 235, 0.616);
    border-radius: 5px;
    height: 610px;
    width: 80%;
    font-size: 120%;
    margin-left: 18%;
    margin-bottom: 2%;
}

div#details .short-description {
    display: inline-block;
    width: 490px;
    background-color: rgba(142, 201, 201, 0.737);
    height: 100px;
    margin: 10px;
    margin-left: 10px;
    border: 1px solid rgba(178, 178, 178, 0.749);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.895);
    border-radius: 3px;
}

div#description {
    height: 125px;
    width: 100%;
    background-color: rgba(126, 216, 173, 0.737);
    max-width: 1000px;
    border: 1px solid rgba(178, 178, 178, 0.749);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.916);
    border-radius: 3px;
    margin-left: 11px;
}

div#buttons-actions {
    height: 52px;
}

div#buttons-actions button.action-btn {
    display: inline-block;
}

div#buttons-actions button:nth-child(1) {
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 157, 254);
    border: 0px;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 15px;
    transition: 0.2s;
}

div#buttons-actions button:nth-child(2) {
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 209, 21);
    border: 0px;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 74px;
    transition: 0.2s;
}

div#buttons-actions button:nth-child(3) {
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(203, 179, 23);
    border: 0px;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 134px;
    transition: 0.2s;
}

div#buttons-actions button:nth-child(4) {
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 69, 46);
    border: 0px;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 190px;
    transition: 0.2s;
}

div#buttons-actions button:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 20px 5px rgb(182, 182, 182);
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 216, 216);
}

div#buttons-actions button:active {
    transition: 0.3s;
    box-shadow: 1px 1px 20px 5px rgba(101, 171, 252, 0.89);
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(142, 255, 179, 0.842);
}

div.short-description p.shor-desc-p {
    font-size: 92%;
    margin: 0;
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

div#description p.desc-p {
    font-size: 75%;
    margin: 0;
    margin-left: 5px;
    color: rgb(0, 0, 0);
}