<section id="course-detials">
    <div>
        <h2 *ngIf="lessonById">Course details: {{lessonById.name}}</h2>
    </div>
    <div id="details-container" *ngIf="lessonById">
        <app-video-preview>

        </app-video-preview>
        <div id="details" *ngIf="lessonById">
            <div class="short-description">
                <p class="shor-desc-p">Course name: {{lessonById.name}}</p>
                <p class="shor-desc-p">Course duration: {{lessonById.duration}}</p>
                <p class="shor-desc-p">Course level: {{lessonById.level}}</p>
            </div>
            <!-- TODO: the below div is static - make it dynamic using data from db -->
            <div class="short-description">
                <p class="shor-desc-p">Course created on: {{lessonById.createdOn}}</p>
                <p class="shor-desc-p">Course available untill: 20.12.2022</p>
                <p class="shor-desc-p">Course rating:
                    <span class="fa fa-star checked" *ngFor="let star of [].constructor(ratingYellowStars)"></span>
                    <span class="fa fa-star unchecked" *ngFor="let star of [].constructor(ratingDarkStars)"></span>
                </p>
            </div>
        </div>
        <div id="description" *ngIf="lessonById">
            <p class="desc-p">{{lessonById.description}}</p>
        </div>
        <div id="buttons-actions" *ngIf="isLogged">
            <button class="action-btn" (click)="onBack()">Back to explore</button>
            <button class="action-btn" (click)="onSubscribe()">Dive In</button>
            <button class="action-btn" (click)="onReport()">Report an issue</button>
        </div>
    </div>
</section>