<section id="course-detials">
    <div>
        <h2>Course details</h2>
    </div>
    <div id="details-container">
        <div id="video-intro">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sqD--VFzkSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen [width]="1020"
                [height]="320"></iframe>
        </div>
        <div id="details">
            <div class="short-description">

            </div>
            <div class="short-description">

            </div>
        </div>
        <div id="description">

        </div>
    </div>
</section>