<section id="course-detials">
    <div>
        <h2 *ngIf="lessonById">Course details: {{lessonById.name}}</h2>
    </div>
    <div id="details-container" *ngIf="lessonById">
        <app-video-preview>

        </app-video-preview>
        <div id="details" *ngIf="lessonById">
            <div class="short-description">
                <p class="shor-desc-p">Course name: {{lessonById.name}}</p>
                <p class="shor-desc-p">Course duration: {{lessonById.duration}}</p>
                <p class="shor-desc-p">Course level: {{lessonById.level}}</p>
            </div>
            <!-- TODO: the below div is static - make it dynamic using data from db -->
            <div class="short-description">
                <p class="shor-desc-p">Course created on: {{lessonById.createdOn}}</p>
                <p class="shor-desc-p">Course available untill: 99.99.9999</p>
                <p class="shor-desc-p">Course rating: 10 / 5</p>
            </div>
        </div>
        <div id="description" *ngIf="lessonById">
            <p class="desc-p">{{lessonById.description}}</p>
        </div>
        <div id="buttons-actions" *ngIf="isLogged">
            <button class="action-btn">Rate this course</button>
            <button class="action-btn" (click)="onSubscribe($event)">Dive In</button>
            <button class="action-btn" (click)="onReport($event)">Report an issue</button>
        </div>
    </div>
</section>