<!-- Header and navigation -->
<section id="header-section">
    <header id="header">
        <div id="profile-badge">
            <div *ngIf="isLogged">
                <li><img src="../../assets/user-logo.png" alt="user-logo">
                    <a routerLink="/profile">Hello, Mike</a>
                </li>
            </div>
        </div>
        <h1>
            <a routerLink="/" id="logo"><img id="logoImg" src="../assets/logo.png" alt="logo">usified</a>
        </h1>
    </header>
    <nav id="nav">
        <ul>
            <div id="items">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/mission">Mission</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
                <li><a routerLink="/explore">Explore</a></li>
                <li><a routerLink="/mylessons">My Lessons</a></li>
                <li><a routerLink="/profile">Profile</a></li>
            </div>
            <div id="auth-items" *ngIf="isLogged">
                <li><a routerLink="javascript:void(0)">Logout</a></li>
            </div>
            <div id="auth-items" *ngIf="!isLogged">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </div>
        </ul>
    </nav>
</section>