<div class="profile-card" *ngIf="userData">
    <form (ngSubmit)="onEditUserDataSubmit()" #updateUserDataFrom="ngForm">
        <label for="username">Username</label>
        <input name="username" id="username" type="text" ngModel #username="ngModel">
        <label for="email">Email</label>
        <input name="email" id="email" type="text" ngModel #email="ngModel">
        <label for="password">Old password</label>
        <input name="password" id="password" type="password" ngModel #password="ngModel">
        <label for="newPassword">New password</label>
        <input name="newPassword" id="newPassword" type="password" ngModel #newPassword="ngModel">
        <div class="error-msg-profile" *ngIf="errors && updateUserDataFrom.dirty">
            {{errors}}
        </div>
        <button type="submit" class="submit-btn">Update</button>
    </form>
</div>