<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div id="main-container">
        <!-- Header -->
        <section id="header-section">
            <header id="header">
                <h1><img id="logoImg" src="../assets/logo.png" alt="logo">usified</h1>
                <nav id="control-nav">
                    <ul>
                        <li><a href="javascript:void(0)">Login</a></li>
                        <li><a href="javascript:void(0)">Register</a></li>
                        <li><a href="javascript:void(0)">Hello, Mike</a></li>
                        <li><a href="javascript:void(0)">Logout</a></li>
                    </ul>
                </nav>
            </header>
            <nav id="nav">
                <ul>
                    <div id="items">
                        <li><a href="javascript:void(0)">Home</a></li>
                        <li><a href="javascript:void(0)">Mission</a></li>
                        <li><a href="javascript:void(0)">Contacts</a></li>
                        <li><a href="javascript:void(0)">Explore</a></li>
                        <li><a href="javascript:void(0)">My Lessons</a></li>
                        <li><a href="javascript:void(0)">Profile</a></li>
                    </div>
                </ul>
            </nav>
        </section>
        <main>
            Hello page
            <section id="hello">
                <h1>HELLO</h1>
                <div>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, blanditiis quis a quo nesciunt amet deleniti, labore dolore modi numquam ea aspernatur, odio saepe in voluptatum eaque aut dolores magnam! Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Accusantium, blanditiis quis a quo nesciunt amet deleniti, labore dolore modi numquam ea aspernatur, odio saepe in voluptatum eaque aut dolores magnam!
                    </p>
                </div>
                <div id="learnBtn">
                    <button>
                    Learn more
                  </button>
                </div>
            </section>

            <section id="loginPage">
                <div class="forms">
                    <form action="" method="">
                        <h2>Login</h2>
                        <hr>
                        <label for="username">Username</label>
                        <input id="username" type="text" placeholder="Just Mike">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="********">
                        <div class="consent-box">
                            <label class="consent-label"><input id="checkbox" type="checkbox"> I have read and agrred with Musified <a id="terms" href="javascript:void(0)"> Terms and conditions</a></label>
                        </div>
                        <button type="submit" class="submit-btn">Login</button>
                    </form>
                </div>
            </section>

            <section id="registerPage">
                <div class="forms">
                    <form action="" method="">
                        <h2>Register</h2>
                        <hr>
                        <label for="username">Username</label>
                        <input id="username" type="text" placeholder="Just Mike">
                        <label for="email">Email</label>
                        <input id="email" type="text" placeholder="mike.justmike@gmail.com">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="********">
                        <label for="repeatPassword">Repeat password</label>
                        <input id="repeatPassword" type="password" placeholder="********">
                        <div class="consent-box">
                            <label class="consent-label"><input id="checkbox" type="checkbox"> I have read and agrred with Musified<a id="terms" href="javascript:void(0)"> Terms and conditions</a></label>
                        </div>
                        <button type="submit" class="submit-btn">Login</button>
                    </form>
                </div>
            </section>
            <section id="profile">
                <div class="panel">
                    <div id="profiloe-card">
                        <div id="image">
                            <img src="../assets/user-logo.png" alt="profile-logo">
                            <hr>
                        </div>
                        <div id="profile-data">
                            <div class="profile-form">
                                <form action="" method="">
                                    <label for="username">Username<input id="username" type="text"></label>
                                    <label for="email">Email<input id="email" type="text"></label>
                                    <label for="password">Password<input id="password" type="password"></label>
                                    <button type="submit" class="submit-btn">Update</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <!-- Footer -->
        <section id="footer-section">
            <footer id="footer">

            </footer>
        </section>
    </div>
</body>

</html>