header#header {
    background-color: rgba(30, 149, 247, 0.836);
}

header#header h1 {
    margin: 0;
    color: rgb(255, 255, 255);
}

nav#nav ul {
    height: 100%;
    position: fixed;
    top: 46px;
    background-color: rgba(114, 176, 218, 0.377);
    overflow-x: hidden;
    padding-top: 60px;
}

nav#control-nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav#control-nav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
}

nav#nav ul li a {
    text-decoration: none;
}

nav#nav ul li {
    margin: 0;
    list-style: none;
    display: block;
}