<section id="mission">
    <div>
        <h1>Our Mission</h1>
    </div>
    <div>
        <p>
            Hello! Stoil here. If you are reading this then you might be a little bit more passionate about the music and this platform than you think. Believe it or not both you and me are not very different. I have also been looking for a good place to start learing
            music and why not even upgrade my skills further. So after 12 years of studying music i decided that it's time to start passing away what i know. There is notting better to be together in person along other musicians but the times we live
            in made that a little bit more difficult. This inspired me to create Musified. I am really excited to welcome you on board. You still reading this? Well then, go sign up and enroll for your first course.
        </p>
    </div>
</section>