<div id="quiz">
    <form data-id="{{data.lessonId}}" (ngSubmit)="onCreateQuizSubmit($event)" #createQuizForm="ngForm">
        <div>
            <h2 id="quiz-header">Create a quiz - All 3 questions are mandatory</h2>
        </div>
        <hr id="quiz-hr">
        <div class="questions">
            <p>1. <input type="text" name="question-1" class="q-a" ngModel #question="ngModel"> - <span>* Mark the correct answer!</span></p>
            <div>
                <input type="radio" name="correct-answer-1" ngModel #option="ngModel" value="answer-1" id="a-1"><label for="a-1"><input type="text" name="answer-1" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-2" ngModel #option="ngModel" value="answer-2" id="a-2"><label for="a-2"><input type="text" name="answer-2" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-3" ngModel #option="ngModel" value="answer-3" id="a-3"><label for="a-3"><input type="text" name="answer-3" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-4" ngModel #option="ngModel" value="answer-4" id="a-4"><label for="a-4"><input type="text" name="answer-4" class="q-a" ngModel #answer="ngModel"></label>
            </div>
        </div>
        <div class="questions">
            <p>2. <input type="text" name="question-2" class="q-a" ngModel #question="ngModel"> - <span>* Mark the correct answer!</span></p>
            <div>
                <input type="radio" name="correct-answer-5" ngModel #option="ngModel" value="answer-5" id="a-5"><label for="a-5"><input type="text" name="answer-5" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-6" ngModel #option="ngModel" value="answer-6" id="a-6"><label for="a-6"><input type="text" name="answer-6" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-7" ngModel #option="ngModel" value="answer-7" id="a-7"><label for="a-7"><input type="text" name="answer-7" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-8" ngModel #option="ngModel" value="answer-8" id="a-8"><label for="a-8"><input type="text" name="answer-8" class="q-a" ngModel #answer="ngModel"></label>
            </div>
        </div>
        <div class="questions">
            <p>3. <input type="text" name="question-3" class="q-a" ngModel #question="ngModel"> - <span>* Mark the correct answer!</span></p>
            <div>
                <input type="radio" name="correct-answer-9" ngModel #option="ngModel" value="answer-9" id="a-9"><label for="a-9"><input type="text" name="answer-9" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-10" ngModel #option="ngModel" value="answer-10" id="a-10"><label for="a-10"><input type="text" name="answer-10" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-11" ngModel #option="ngModel" value="answer-11" id="a-11"><label for="a-11"><input type="text" name="answer-11" class="q-a" ngModel #answer="ngModel"></label>
                <input type="radio" name="correct-answer-12" ngModel #option="ngModel" value="answer-12" id="a-12"><label for="a-12"><input type="text" name="answer-12" class="q-a" ngModel #answer="ngModel"></label>
            </div>
        </div>
        <div id="quiz-controls">
            <button mat-dialog-close type="button">Cancel</button>
            <button mat-dialog-close type="submit">Submit</button>
        </div>
    </form>
</div>