section#dashboard h1 {
    color: rgb(0, 255, 234);
    font-size: 200%;
    margin-left: 48%;
}

div.item-container {
    background-color: rgba(68, 68, 68, 0.849);
    display: flex;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.822);
    width: 76%;
    height: 133px;
    position: relative;
    margin-bottom: 55px;
    left: 20%;
}

div.video-preview img {
    width: 200px;
    display: inline;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

div.video-decription {
    /* border: 2px solid red; */
    display: inline-block;
}

div.video-decription p {
    color: rgb(255, 254, 254);
    margin: 3px;
    margin-left: 5px;
}


/* buttons */

div.video-actions {
    /* border: 2px solid red; */
    position: relative;
    left: 180px;
    width: 300px;
}

div.video-actions button:nth-child(1) {
    display: block;
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 172, 76);
    border: 0px;
    text-align: center;
    width: 30%;
    border-radius: 5px;
    position: relative;
    left: 153px;
    transition: 0.2s;
}

div.video-actions button:nth-child(2) {
    display: block;
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 136, 196);
    width: 100%;
    text-align: center;
    width: 30%;
    border: 0px;
    border-radius: 5px;
    position: relative;
    left: 153px;
    transition: 0.2s;
}

div.video-actions button:nth-child(3) {
    display: block;
    font-size: 85%;
    color: rgb(255, 255, 255);
    background-color: rgb(223, 63, 63);
    text-align: center;
    width: 30%;
    border: 0px;
    border-radius: 5px;
    position: relative;
    left: 153px;
    transition: 0.3s;
}

div.video-actions button {
    margin: 15px;
    left: 170px;
}

div.video-actions button:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 20px 5px rgb(182, 182, 182);
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 216, 216);
}

div.video-actions button:active {
    transition: 0.3s;
    box-shadow: 1px 1px 20px 5px rgba(101, 171, 252, 0.89);
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(142, 255, 179, 0.842);
}

@media screen and (max-height: 862px) {
    section#dashboard h1 {
        font-size: 180%;
        margin-top: 20px;
    }
    div.item-container {
        margin-bottom: 30px;
        left: 19%;
        height: 113px;
    }
    div.video-actions button {
        margin: 10.5px;
        left: 430px;
    }
    div.video-decription p {
        margin: -1px;
        margin-left: 5px;
    }
    div.video-preview img {
        width: 170px;
    }
    div.video-actions button:nth-child(1) {
        left: 392px;
    }
    div.video-actions button:nth-child(2) {
        left: 392px;
    }
    div.video-actions button:nth-child(3) {
        left: 392px;
    }
}