/* Profile page */

section#profile div.panel {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(68, 68, 68, 0.849);
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.438);
    box-shadow: 0px 0px 45px 20px rgba(235, 235, 235, 0.616);
    border-radius: 5px;
    padding: 2%;
    width: 72%;
    height: 600px;
    font-size: 120%;
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
}

div#profile-card img {
    width: 15%;
}

div.profile-card {
    background-color: rgba(78, 134, 136, 0.432);
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.575);
    box-shadow: 0px 0px 15px 5px rgba(235, 235, 235, 0.616);
    height: 330px;
    border-radius: 5px;
    width: 95%;
    padding: 2%;
    margin-top: 3%;
    font-size: 90%;
}

div.profile-card span {
    color: rgb(255, 255, 255);
}

div.profile-card input {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    display: block;
    border: 1px solid rgb(0, 255, 234);
    border-radius: 3px;
    text-align: center;
    font-size: 55%;
    position: relative;
    left: 25%;
    height: 20px;
    margin-bottom: 10px;
    width: 50%;
}


/* div.profile-card input#username {
    margin-left: 51%;
}

div.profile-card input#email {
    margin-left: 56.9%;
}

div.profile-card input#oldPassword {
    margin-left: 50.8%;
}

div.profile-card input#newPassword {
    margin-left: 50.8%;
} */

div.profile-card button {
    display: block;
    font-size: 90%;
    margin: 0;
    position: relative;
    left: 340px;
    top: 20px;
    width: 200px;
}

div.profile-card label {
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    position: relative;
    display: block;
    margin-bottom: 2px;
    margin-top: 10px;
}

table tr th.table-header:nth-child(1) {
    display: inline;
    position: relative;
    left: 145px;
}

table tr th.table-header:nth-child(2) {
    display: inline;
    position: relative;
    left: 290px;
}

table tr th.table-header:nth-child(3) {
    display: inline;
    position: relative;
    left: 440px;
}

table {
    position: relative;
    top: 18px;
}

div#courses table tr th {
    width: 74%;
    text-align: left;
}

div#courses table tr th a {
    margin-right: 10px;
}

thead tr.table-row th a:active {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(124, 222, 247, 0.829);
}

button.submit-btn {
    color: rgb(0, 255, 234);
    font-size: 70%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px rgb(212, 212, 212);
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    margin-left: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
    transition: 0.2s;
}

button.submit-btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    transition: 0.2s;
    cursor: pointer;
    font-size: 72%;
}

button.submit-btn:active {
    color: rgb(0, 255, 234);
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
    transition: 0.1s;
    cursor: pointer;
}

@media screen and (max-height: 862px) {
    div.profile-card {
        width: 95%;
        margin-top: 3%;
        font-size: 85%;
    }
    div#profile-card img {
        width: 10%;
    }
    section#profile div.panel {
        width: 70%;
    }
    table tr th.table-header {
        display: inline;
        margin-left: 179px;
    }
    div.profile-card input#email {
        margin-left: 55.7%;
    }
    button.submit-btn {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    div.profile-card p {
        margin-top: 10px;
        ;
    }
}