<section id="profile">
    <div class="panel">
        <div id="profile-card">
            <div id="image">
                <img src="../assets/user-logo.png" alt="profile-logo">
            </div>
            <table>
                <thead>
                    <tr class="table-row">
                        <th class="table-header"><a class="table-a" routerLink="/profile/overview">Overview</a></th>
                        <th class="table-header"><a class="table-a" routerLink="/profile/courses">Courses</a></th>
                        <th class="table-header"><a class="table-a" routerLink="/profile/profile-details">Profile details</a></th>
                    </tr>
                </thead>
            </table>
            <hr>
            <div id="profile-data">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>