<section id="home">
    <h1>Hello</h1>
    <div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, blanditiis quis a quo nesciunt amet deleniti, labore dolore modi numquam ea aspernatur, odio saepe in voluptatum eaque aut dolores magnam! Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Accusantium, blanditiis quis a quo nesciunt amet deleniti, labore dolore modi numquam ea aspernatur, odio saepe in voluptatum eaque aut dolores magnam!
        </p>
    </div>
    <div id="learnBtn">
        <button>
        Learn more
      </button>
    </div>
</section>