/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: externalFont;
    src: url(./assets/fonts/ArchitectsDaughter-Regular.ttf);
}

html {
    font-family: externalFont;
    font-size: 130%;
}

body {
    display: grid;
    margin: 0;
    background: url('./assets/background1.jpg') no-repeat center center fixed;
    background-size: cover;
}

button {
    font-family: externalFont;
}

a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 255, 234);
    transition: 0.2s ease;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 234);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

a:hover::before {
    transform: scaleX(1);
}

a#logo {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.2s
}

a#logo:hover {
    color: rgb(0, 255, 234);
    transition: 0.2s ease;
}

a#logo::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 234);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

a#logo:hover::before {
    transform: scaleX(0);
}

a.table-a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.2s
}

a.table-a:hover {
    color: rgb(0, 255, 234);
    transition: 0.2s ease;
}

a.table-a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 255, 234);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

a.table-a:hover::before {
    transform: scaleX(0);
}