<section id="contacts">
    <div>
        <h1>Contact us</h1>
    </div>
    <div id="contact-info">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ex similique error molestiae saepe et architecto sint consectetur! Molestiae dolorum maiores doloremque at reiciendis aperiam repudiandae consequatur. Quasi, impedit molestias.
        </p>
    </div>
    <div id="contact-form">
        <div class="forms">
            <form (ngSubmit)="onMessageSubmit()" #messageForm="ngForm">
                <label for="topic">
                    Select a topic that your question is related to:
                </label>
                <select name="topic" id="topic" ngModel #message="ngModel">
                    <option value="lessons">Lessons related</option>
                    <option value="details">Profile details related</option>
                    <option value="issue">Technical issue</option>
                    <option value="other">Other</option>
                </select>
                <div class='textarea'>
                    <textarea name="message" id="contact-area" placeholder="Type your message..." ngModel #message="ngModel"></textarea>
                </div>
                <button type="submit" class="submit-btn">Send</button>
            </form>
        </div>
    </div>
</section>