section#contacts h1 {
    color: rgb(0, 255, 234);
    font-size: 200%;
    margin-left: 48%;
}

section#contacts div#contact-info {
    width: 50%;
    margin-left: 32%;
}

section#contacts p {
    text-align: center;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    margin-bottom: 8%;
}

div#contact-form div.forms {
    background-color: rgba(68, 68, 68, 0.849);
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.575);
    box-shadow: 0px 0px 45px 20px rgba(235, 235, 235, 0.616);
    border-radius: 5px;
    width: 60%;
    padding: 2%;
    margin-left: 26%;
    margin-bottom: 5%;
    font-size: 110%;
}

div#contact-form div.forms h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    font-size: 120%;
}

div#contact-form div.forms label {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 2px;
}

div#contact-form div.forms button {
    display: block;
    font-size: 90%;
}

button.submit-btn {
    color: rgb(0, 255, 234);
    font-size: 70%;
    border: 1px solid rgb(0, 255, 234);
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    margin-left: 45%;
    /* margin-bottom: 5%; */
    margin-top: 3%;
    transition: 0.2s;
}

button.submit-btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);
    transition: 0.2s;
    cursor: pointer;
    font-size: 72%;
}

button.submit-btn:active {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 5px rgb(178, 250, 255);
    transition: 0.2s;
}

div#contact-form select {
    color: white;
    font-size: 60%;
    padding: 10px;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(2, 211, 193, 0.377);
    width: 100%;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
}

div#contact-form select:hover {
    cursor: pointer;
}

div#contact-form textarea {
    resize: none;
    margin-top: 35px;
    padding: 5px;
    width: 98%;
    height: 150px;
    background-color: rgba(243, 243, 243, 0.973);
    border: 2px inset rgba(82, 243, 248, 0.459);
    border-radius: 5px;
}

@media screen and (max-height: 880px) {
    section#contacts h1 {
        font-size: 190%;
        margin-top: 10px;
        margin-left: 50%;
    }
    div#contact-form div.forms {
        background-color: rgba(68, 68, 68, 0.849);
        width: 69%;
        padding: 2%;
        margin-left: 20%;
        margin-top: -1%;
        font-size: 110%;
    }
    section#contacts p {
        margin-top: -3%;
        margin-left: -5%;
        margin-right: -8%;
    }
    div#contact-form textarea {
        margin-top: 20px;
        padding: 5px;
        width: 98.5%;
        height: 100px;
        background-color: rgba(243, 243, 243, 0.973);
        border: 2px inset rgba(82, 243, 248, 0.459);
        border-radius: 5px;
    }
    button.submit-btn {
        color: rgb(0, 255, 234);
        font-size: 70%;
        border: 1px solid rgb(0, 255, 234);
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0);
        margin-left: 46%;
        margin-top: 15px;
        margin-bottom: -10px;
        transition: 0.2s;
    }
}