<section id="watch-lesson">
    <h2 *ngIf="lessonById">
        Course: {{lessonById.name}}
    </h2>

    <div id="lesson-container">
        <app-video-play>

        </app-video-play>

        <div id="lesson-details">
            <div id="theory">
                <p *ngIf="lessonById">
                    {{lessonById.theory}}
                </p>
            </div>
        </div>
        <div id="controls">
            <button class="controls-btn-back" (click)="onBack()">Back to your lessons</button>
            <button class="controls-btn-quiz">Take q quiz</button>
            <button class="controls-btn-give-up">Give up</button>
            <button class="controls-btn-issue">Report an issue</button>
        </div>
    </div>

</section>