<section id="watch-lesson">
    <h2 *ngIf="lessonById">
        Course: {{lessonById.name}}
    </h2>

    <div id="lesson-container">
        <app-video-play>

        </app-video-play>

        <div id="lesson-details">
            <div id="theory">
                <p *ngIf="lessonById && !hasGiveIn">
                    {{lessonById.theory}}
                </p>
                <p *ngIf="hasGiveIn" class="confirm-give-in">
                    Do you really want to give up?
                </p>
            </div>
        </div>
        <div id="controls" *ngIf="!hasGiveIn">
            <button class="controls-btn-back" (click)="onBack()">Back to your lessons</button>
            <button class="controls-btn-quiz">Take a quiz</button>
            <button class="controls-btn-give-up" (click)="onGiveUp()">Give up</button>
            <button class="controls-btn-issue">Report an issue</button>
        </div>
        <div id="controls" *ngIf="hasGiveIn">
            <button class="confirm-no" (click)="onConfirm($event)">No 🙂</button>
            <button class="confirm-yes" (click)="onConfirm($event)">Yes 🙁</button>
        </div>
    </div>

</section>