<section id="watch-lesson">
    <h2 *ngIf="lessonById">
        Course: {{lessonById.name}}
    </h2>

    <div id="lesson-container" *ngIf="lessonById">
        <app-video-play>

        </app-video-play>

        <div id="lesson-details">
            <div id="theory">
                <p *ngIf="lessonById && !hasGiveIn">
                    {{lessonById.theory}}
                </p>
                <p *ngIf="hasGiveIn" class="confirm-give-in">
                    Do you really want to give up?
                </p>
            </div>
        </div>
        <div id="controls" *ngIf="!hasGiveIn && !beingRated">
            <button class="controls-btn-back" *ngIf="hasRated" disabled>Rated</button>
            <button class="controls-btn-back" (click)="onRate()" *ngIf="!hasRated">Rate this lesson</button>
            <button class="controls-btn-quiz" *ngIf="lessonById.quiz.length == 0">Quiz is unavailable</button>
            <button class="controls-btn-quiz" (click)="onTakeQuiz()" *ngIf="lessonById.quiz.length != 0">Take a quiz</button>
            <button class="controls-btn-give-up" (click)="onGiveUp()">Give up</button>
            <button class="controls-btn-issue" (click)="onReport()">Report an issue</button>
        </div>
        <div id="controls" *ngIf="beingRated">
            <div id="rating-options" (click)="submitRating($event)">
                <button class="rate-score-back">Back</button>
                <button class="rate-score">1</button>
                <button class="rate-score">2</button>
                <button class="rate-score">3</button>
                <button class="rate-score">4</button>
                <button class="rate-score">5</button>
            </div>
        </div>

        <div id="controls" *ngIf="hasGiveIn">
            <button class="confirm-no" (click)="onConfirm($event)">No 🙂</button>
            <button class="confirm-yes" (click)="onConfirm($event)">Yes 🙁</button>
        </div>
    </div>

</section>