<!-- Header and navigation -->
<section id="header-section">
    <header id="header">
        <div id="profile-badge">
            <div *ngIf="isLogged">
                <li><img src="../../assets/user-logo.png" alt="user-logo">
                    <a routerLink="/profile">Hello, {{username}}</a>
                </li>
            </div>
        </div>
        <h1>
            <a routerLink="/" id="logo"><img id="logoImg" src="../assets/logo.png" alt="logo">usified</a>
            <button id="message-icon" mat-raised-button color="primary" matBadge="1" matBadgePosition="after" matBadgeColor="accent" (click)="onMessages()">
          Messages
        </button>
        </h1>
    </header>
    <nav id="nav">
        <ul>
            <div id="items" *ngIf="isLogged && isAdmin == 'false'">
                <li><a routerLink="/explore">Explore</a></li>
                <li><a routerLink="/mylessons">My Courses</a></li>
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
            </div>
            <div id="items" *ngIf="isLogged && isAdmin == 'true'">
                <li><a routerLink="/explore">Courses</a></li>
                <li><a routerLink="/create">New course</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
            </div>
            <div id="items" *ngIf="!isLogged">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/mission">Mission</a></li>
                <li><a routerLink="/explore">Explore</a></li>
                <li><a routerLink="/contacts">Contacts</a></li>
            </div>
            <div id="auth-items-user" *ngIf="isLogged && isAdmin == 'false'">
                <li><a routerLink="/" (click)="logout()">Logout</a></li>
            </div>
            <div id="auth-items-admin" *ngIf="isLogged && isAdmin == 'true'">
                <li><a routerLink="/" (click)="logout()">Logout</a></li>
            </div>
            <div id="auth-items-guest" *ngIf="!isLogged">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </div>
        </ul>
    </nav>
</section>