/* Main Layout - App Component */

header#header {
    background-color: rgba(35, 64, 90, 0.637);
    text-align: right;
    margin: 0;
    height: 100px;
}

button#message-icon {
    font-size: 45%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 0px;
    position: relative;
    left: 395px;
    top: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

button#message-icon:hover {
    transition: 0.2s ease;
    text-shadow: 2px 2px 5px rgb(0, 213, 255);
}

header#header h1 {
    margin: 0;
    color: rgb(0, 255, 234);
    position: relative;
    top: -90px;
    font-size: 220%;
    text-align: center;
    width: 80%;
    left: 16%;
}

div#profile-badge {
    width: 195px;
    height: 96px;
    display: flex;
}

div#profile-badge img {
    width: 70px;
    display: block;
    position: relative;
    left: 60px
}

div#profile-badge a {
    position: relative;
    left: 50px
}

img#logoImg {
    position: relative;
    width: 60px;
    top: 15px;
}

nav#nav ul {
    height: 100%;
    position: fixed;
    top: 79px;
    width: 160px;
    background-color: rgba(18, 61, 90, 0.877);
    overflow-x: hidden;
    padding-top: 60px;
}


/* nav#control-nav ul {
    position: relative;
    bottom: 28px;
}

nav#control-nav ul li a {
    text-decoration: none;
    margin-left: 25px;
    color: rgb(255, 255, 255);
} */

@media screen and (max-width: 660px) {
    /* nav#control-nav ul li a {
        margin-left: 20px;
        font-size: 90%;
    } */
}


/* nav#control-nav ul li a:hover {
    text-decoration: none;
    color: rgb(0, 255, 234);
}

nav#control-nav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
} */

nav#nav ul li a {
    text-decoration: none;
}

div#items {
    margin-left: -19px;
}

div#auth-items-user {
    position: relative;
    top: 450px;
    margin-left: -19px;
}

div#auth-items-admin {
    position: relative;
    top: 510px;
    margin-left: -19px;
}

div#auth-items-guest {
    position: relative;
    top: 390px;
    margin-left: -19px;
}

nav#nav ul li {
    list-style: none;
    display: block;
    position: relative;
    bottom: 60px;
    right: 30px;
    margin: 30px;
}

nav#nav ul li a:active {
    transition: 0.1s;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

@media screen and (max-height: 862px) {
    div#auth-items-user {
        position: relative;
        top: 290px;
        margin-left: -19px;
    }
    div#auth-items-guest {
        position: relative;
        top: 220px;
        margin-left: -19px;
    }
}